{%extends 'enroll/header.html'%}
{%load static%}
{%block title%}Home Page{%endblock%}

{%block css%}
  <link rel="stylesheet" href="{% static 'enroll/css/home.css'%}">
{%endblock%}
{%block content%}
    <section class="main_content">
      <div class="container">
        <div class="row align-items-center py-3">
            <div class="col-12 col-lg-6">
              <div class="alert alert-primary" role="alert">
                <h4 class="alert-heading title-text text-uppercase">Personal Logs!</h4>
                  <p>This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
                  <hr>
                  <p class="mb-0" style="font-size: 16px;font-weight: 400;">It's good practice to store your day to day task <strong>somewhere!</strong></p>
              </div>
                <!-- <h3 class="title-text text-uppercase">Personal Log</h3>
                <h1 class="title-text text-uppercase" >Project </h1>
                <p style="color: lightgrey;font-size: 16px;font-weight: 400;">Personal Log Project With DJANGO</p> -->
                <div class="site_buttons">
                    <div class="d-flex flex-row flex-wrap">
                        <a href="{%url 'signuppage'%}" class="btn button  primary-button">Sign Up</a>
                        <a href="{%url 'loginpage'%}" class="btn button  secondary-button">Log In</a>
                        <!-- <button type="button" class="btn button primary-button">Hire Me</button>
                        <button type="button" class="btn button secondary-button">Check CV</button> -->
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 py-3">
                <img src="https://raw.githubusercontent.com/akashyap2013/PortFolio_Website/master/img/banner/banner-image.png" class="img-fluid" alt="">
            </div>
        </div>
      </div>
</section>

<section>
    <div class="jumbotron jumbotron-fluid bg-warning text-dark h-100">
      <div class="container">
        <h1 class="display-4" style="font-weight:bold;">Explore Some Data Tables</h1>
        <p class="lead ">Data tables plays and inportant role in any industry</p>
        <a type="button" class="btn btn-info btn-lg" href="{% url 'datatables' %}" name="button">Explore</a>
      </div>
    </div>
</section>


<div class="container mt-5">
  <div class="row">
    <div class="col-12 col-md-4">
      <div class="card">
        <img class="card-img-top" src="https://miro.medium.com/max/854/1*gvJFryZlnj7IBDwfx8YJXQ.png" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">An application programming interface (API) is a computing interface which defines interactions between multiple software intermediaries. It defines the kinds of calls or requests that can be made, how to make them, etc.</p>
          <p class="lead"><strong>You can know more about API <a href="https://en.wikipedia.org/wiki/API#:~:text=An%20application%20programming%20interface%20(API,the%20conventions%20to%20follow%2C%20etc.">here</a></strong></p>
          <a href="/api/" class="btn btn-success">SuperHero API With Django</a>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="card" ">
        <img class="card-img-top" src="https://miro.medium.com/max/1080/1*_oSOImPmBFeKj8vqE4FCkQ.jpeg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">pandas is a fast, powerful, flexible and easy to use open source data analysis and manipulation tool, built on top of the Python programming language. </p>
          <p class="lead"><strong>You can know more about Pandas <a href="https://pandas.pydata.org/">here</a></strong></p>
          <a href="/pandas/" class="btn btn-success">Django-Pandas</a>
        </div>
      </div>
    </div>

  </div>
</div>
{%endblock%}
