{%extends 'enroll/header.html'%}
{%load static%}
{%block title%}Update Task Page{%endblock%}

{%block css%}
  <link rel="stylesheet" href="{% static 'enroll/css/about.css'%}">
{%endblock%}

{%block content%}
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-5">
        <form method="POST" novalidate>
          {%csrf_token%}
          {% for fm in form %}
            {{fm.label_tag}} {{fm}} {{fm.errors|striptags}} <br>
          {%endfor%}
          <input type="submit" class="btn btn-success" value="submit">
          <a type="button" class="btn btn-primary" href="{%url 'profilepage'%}">Back To Profile</a>
        </form>
      </div>
    </div>
  </div>
{%endblock%}
